body {
    font-family: Arial, Helvetica, sans-serif;
    color: teal;
    background-color: lightseagreen;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1 1 0;
}

.board {
    display: grid;
    height: 75vh;
    aspect-ratio: 1 / 1;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 5px;
    background-color: teal;
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    color: inherit;
    background-color: lightseagreen;
    border: 0;
}

.start {
    font-size: 1.5em;
    border: 2px teal solid;
    color: teal;
    background-color: lightcyan;
}